<footer class="site-footer">

    <div class="wrapper">

        <script src="https://giscus.app/client.js" data-repo="neilmartin83/neilmartin83.github.io"
            data-repo-id="R_kgDORLOZpg" data-category="Announcements" data-category-id="DIC_kwDORLOZps4C2PTW"
            data-mapping="pathname" data-strict="0" data-reactions-enabled="1" data-emit-metadata="0"
            data-input-position="top" data-theme="preferred_color_scheme" data-lang="en" data-loading="lazy"
            crossorigin="anonymous" async>
            </script>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    {% if site.github_username %}
                    <li>
                        {% include icon-github.html username=site.github_username %}
                    </li>
                    {% endif %}

                    {% if site.twitter_username %}
                    <li>
                        {% include icon-twitter.html username=site.twitter_username %}
                    </li>
                    {% endif %}

                    {% if site.slack_username %}
                    <li>
                        {% include icon-slack.html username=site.slack_username %}
                    </li>
                    {% endif %}

                    {% if site.mastodon_username %}
                    <li>
                        {% include icon-mastodon.html username=site.mastodon_username
                        mastodon_server=site.mastodon_server %}
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>{{ site.description }}</p>
            </div>
        </div>

    </div>

</footer>