---
---
@import "minima";

.post-title a {
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 450
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}

.social-media-list a,
.social-media-list a:visited {
    color: $grey-color;
}

.social-media-list a:hover,
.social-media-list a:focus {
    color: $grey-color-dark;
}

/* Archive page-specific styles */
.archives {
    .post-link,
    a {
        color: #4b4b4b;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600
    }

    .post-link:hover,
    a:hover {
        text-decoration: underline;
    }
}
