---
---
@import "minima";

.post-title a {
    font-size: 1.5rem;
    color: #4b4b4b;
    font-weight: 450
}

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}

/* Archive page-specific styles */
.archives {
    .post-link,
    a {
        color: #4b4b4b;
        font-size: 1rem;
        text-decoration: none;
        font-weight: 600
    }

    .post-link:hover,
    a:hover {
        text-decoration: underline;
    }

    .post-list .post-meta a {
        color: #4b4b4b;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
    }

    .post-list .post-meta:hover,
    a:hover {
        text-decoration: underline;
    }
}